<div class="post">
  <div class="img">
    <img src={{image_url}} alt="food pic" />
  </div>
  <p class="text-muted">
    By
    {{user_id}}
  </p>
  <h3>{{title}}</h3>
  <p>
    {{text}}
  </p>
  <a href="#" class="btn btn-outline-info">Read more...</a>
</div>