<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <img
        src="https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg?h=350&auto=compress&cs=tinysrgb"
        alt=""
        class="img-thumbnail img-responsive"
      />
      <p class="text-muted">
        By
          <span
            class="glyphicon glyphicon-user"
            aria-hidden="true"
          ></span>
          Lorem Ipsum |
          <span
            class="glyphicon glyphicon-calendar"
            aria-hidden="true"
          ></span>
          Jan/21/2018
        </p>
        <h3>Title</h3>
        <p>
          paragraph
        </p>
        <a href="#" class="btn btn-default"
          >Read more...</a
        >
    </div>
  </div>
</div>
